*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
    background-color: rgb(236, 239, 240);
}

#div1{
    height: 200px;
    width: 1520px;
    background-color: rgb(19, 24, 46);
    /* display: flex;
    justify-content: center;
    align-items: center;
*/
}
#h1{
    text-align: center;
    padding-top: 60px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    color: white;
    text-align: center;
    padding-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50;
}

#div2{
    margin: 20px auto;
    height: 200px;
    width: 1300px;
    background-color: rgb(255, 255, 255);
    /* display: flex;
    justify-content: center;
    align-items: center;
*/
}
#h2{
    text-align: center;
    padding-top: 60px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#h3{
    color: rgb(0, 0, 0);
    text-align: center;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 50;
    font-size: 20px;
    padding: 10px;
}

#div3{
    margin: 20px auto;
    height: 250px;
    width: 1300px;
    background-color: rgb(186, 202, 224);
}


.div4{
    margin: 10px auto;
    height: 40px;
    width: 600px;
    background-color: rgb(255, 255, 255);
}

.h4{
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 50;
    font-size: 20px;

}

#div5{
    margin: 20px auto;
    height: 350px;
    width: 1300px;
    background-color: rgb(255, 240, 192);
}


.div6{
    margin: 10px auto;
    height: 40px;
    width: 400px;
    background-color: rgb(255, 255, 255);
}

#div7{
    margin: 20px auto;
    height: 300px;
    width: 1300px;
    background-color: rgb(240, 238, 255);
}

#div8{
    margin: 20px auto;
    height: 300px;
    width: 1300px;
    background-color: rgb(230, 255, 238);
}

.div9{
    margin: 10px auto;
    height: 40px;
    width: 600px;
    background-color: rgb(255, 255, 255);
}
#div10{
    height: 45px;
    width: 1520px;
    background-color: rgb(19, 24, 46);
    text-transform: uppercase;
    /* display: flex;
    justify-content: center;
    align-items: center;
*/
}
#h5{
    padding: 10px;
    padding-top: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 40;
    font-size: 15px;
}