* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* height:100%; */
    width: 100%;
    background-color: rgb(236, 239, 240);
}

#main1 {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, blue, red);
    padding: 20px 5%;

}

#div1 {
    height: 200px;
    width: 100%;
    background: linear-gradient(to right, rgb(255, 0, 153), yellow)
}

#h1 {
    text-align: center;
    padding-top: 60px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
text-shadow:
  -3px -3px 10px #000,
  -1px -1px 0 #000,
   1px  1px 0 #000;
}

h4 {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50;
}

#div2 {
    border-radius: 10px;
    height: 200px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0% 5%;

}

#h2 {
    text-align: center;
    padding-top: 60px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#h3 {
    color: rgb(0, 0, 0);
    text-align: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 50;
    font-size: 20px;
    padding: 10px;
}

#div3 {
    margin-top: 20px;
    height: 250px;
    width: 100%;
    background-color: rgb(186, 202, 224);
    border-radius: 10px;

}


.div4 {
    height: 40px;
    width: 40%;
    background-color: rgb(255, 255, 255);
    margin: 10px 30%;
}

.h4 {
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 50;
    font-size: 20px;

}

#div5 {
    margin-top: 20px;
    height: 350px;
    width: 100%;
    background-color: rgb(255, 240, 192);
    border-radius: 10px;

}


.div6 {
    height: 40px;
    width: 30%;
    background-color: rgb(255, 255, 255);
    margin: 10px 35%;
}

#div7 {
    margin-top: 20px;
    height: 300px;
    width: 100%;
    background-color: rgb(240, 238, 255);
    border-radius: 10px;

}

#div8 {
    margin-top: 20px;
    height: 300px;
    width: 100%;
    background-color: rgb(214, 248, 225);
    padding-bottom: 20px;
    border-radius: 10px;


}

.div9 {
    height: 40px;
    width: 44%;
    background-color: rgb(255, 255, 255);
    margin: 10px 28%;
}

#div10 {
    height: 45px;
    width: 100%;
    background-color: rgb(19, 24, 46);
    text-transform: uppercase;

}

#h5 {
    padding: 10px;
    padding-top: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 40;
    font-size: 15px;
}